---
title: Lunchtime Labs
description: A small-but-mighty software development team based in New York City.
image: ./images/logo/light.png
bottom_image: https://unsplash.it/2000/1322?a=.png
---

<section class="hero" style="background-image: url({% include relative-src.html src=page.image %})">
	<div class="inner-hero text-container">
		<div class="hero-text-container">
      <h1 class="editable">
        <div class="hero-text-container__header">We build apps</div>
        <div class="only-one">
          <span class="active">beautifully</span>
          <span>simply</span>
          <span>thoughtfully</span>
          <span>with gusto</span>
          <span>like tanks</span>
          <span>for the web</span>
          <span>for phones</span>
          <span>for tablets</span>
          <span>for moms</span>
          <span>for patients</span>
          <span>for whoever</span>
          <span>or whatever</span>
        </div>
      </h1>
      <p class="subtext editable">We think hard about the software that we build
        so that your users don't have to.
      </p>
			<div class="cta button alt"><a href="#">See Our Work</a></div>
		</div>
    <div class="hero-iphone-container">
      <div class="hero-iphone">
        <img class="hero-iphone-inner" src="./images/knobjockey.gif"/>
      </div>
    </div>
	</div>
	<div class="learn-more"><a href="#learn-more">Learn more <span class="arrow">&#x25BC;</span></a></div>
</section>

<div class="content">
	<section class="info" id="learn-more">
		<div class="container flex">
			<div class="text">
				<h2 class="editable">We love building software</h2>
        <p class="editable">
          Lunchtime Labs is a small-but-mighty boutique software development
          shop based in NYC.
        </p>
        <p class="editable">
          Our specialists have years of experience developing native, web,
          mobile and desktop apps. We love taking projects from the ideation
          stage through product design, user testing, into launch and beyond--to
          product-market-fit.
        </p>
        <p>
          Employing cutting-edge workflow, tracking, product design and project
          management practices and tools, we create software that meaningfully
          moves the needle for businesses at every stage.
        </p>
        <p>
          Our focus remains on creating products that your users will love.
        </p>
			</div>
			<div class="image">
				<img class="editable" src="http://placehold.it/650x1300" alt="Screenshot" />
			</div>
		</div>
	</section>

	<section class="info">
		<div class="container flex">
			<div class="text">
				<h2 class="editable">We build it good</h2>
        <p class="editable">
          Some of our core tenents:
        </p>
        <ul>
          <li>User-Testing</li>
          <li>Rapid Iteration</li>
          <li>Remote collaboration with state of the art tools</li>
          <li>Test-Driven-Development</li>
          <li>Code Review</li>
          <li>Continuous Integration</li>
          <li>Continuous Deploy</li>
        </ul>
        <p class="editable">
          Our polyglot development team has deep expertise in many languages and
          frameworks, including:
        </p>
        <p>Web Frameworks</p>
        <ul>
          <li>Rails</li>
          <li>Meteor</li>
        </ul>
        <p>Native App Development</p>
        <ul>
          <li>React Native</li>
        </ul>
        <p>Web App Development</p>
        <ul>
          <li>ES6</li>
          <li>React</li>
          <li>Mobile-first design</li>
        </ul>
        <p>
          That said, we are big believers in choosing the right tool for the
          job. Our developers are continually invested in learning and improving
          on our process and learning new languages, frameworks, practices.
        </p>
			</div>
			<div class="image">
				<img class="editable" src="http://placehold.it/650x1300" alt="Screenshot" />
			</div>
		</div>
	</section>

	<section class="info">
		<div class="container flex">
			<div class="text">
				<h2 class="editable">We get results</h2>
        <p class="editable">See how we took Partywirks from a product design
          sprint through a successul product launch which increased their
          revenue by 5 trillion percent.
        </p>
			</div>
			<div class="image">
				<img class="editable" src="http://placehold.it/650x1300" alt="Screenshot" />
			</div>
		</div>
	</section>

	<section class="hero" style="background-image: url({% include relative-src.html src=page.bottom_image %})">
		<div class="inner-hero text-container">
			<div class="hero-text-container">
				<h2 class="editable">Let's do this</h2>
				<p class="subtext editable">Get in touch with us now, and let's build
          something together</p>
				<div class="cta button alt"><a href="#">I'm Ready</a></div>
			</div>
		</div>
	</section>
</div>
