---
title: Home
description: The latest app to help you find new friends with common interests.
image: http://cdn.playbuzz.com/cdn/9329065b-a7ae-461a-bf73-6aac31c119af/76aa2c15-f843-4a98-8d79-bc6d5ccf5d0d.jpg
bottom_image: https://unsplash.it/2000/1322?a=.png
---

<section class="hero" style="background-image: url({% include relative-src.html src=page.image %})">
	<div class="inner-hero text-container">
		<div class="hero-text-container">
      <h1 class="editable">
        <div class="hero-text-container__header">We build it</div>
        <div class="only-one">
          <span class="active">beautiful</span>
          <span>intuitive</span>
          <span>fun</span>
          <span>robust</span>
        </div>
      </h1>
      <p class="subtext editable">We think hard about the software that we build
        so that your users don't have to.
      </p>
			<div class="cta button alt"><a href="#">See Our Work</a></div>
		</div>
    <div class="hero-iphone-container">
      <div class="hero-iphone">
        <img class="hero-iphone-inner" src="./images/knobjockey.gif"/>
      </div>
    </div>
	</div>
	<div class="learn-more"><a href="#learn-more">Learn more <span class="arrow">&#x25BC;</span></a></div>
</section>

<div class="content">
	<section class="info" id="learn-more">
		<div class="container flex">
			<div class="text">
				<h2 class="editable">We love software</h2>
				<p class="editable">Lunchtime Labs is a full-service, boutique software
          development agency, based in NYC.
        </p>
				<p class="editable">We specialize in soup-to-nuts mobile and web app
          design and development, employing cutting-edge software development,
          product design and project management practices to create software
          that moves the needle for your business.
        </p>
			</div>
			<div class="image">
				<img class="editable" src="http://placehold.it/650x1300" alt="Screenshot" />
			</div>
		</div>
	</section>

	<section class="info">
		<div class="container flex">
			<div class="text">
				<h2 class="editable">We build it good</h2>
        <p class="editable">We build upon tried and tested best-practices
          including:
        </p>
        <ul>
          <li>User-Testing, Prototyping and Product Design</li>
          <li>Remote collaboration with state of the art tools</li>
          <li>Test-driven-development</li>
          <li>Code Review</li>
          <li>Continuous Integration</li>
          <li>Continuous Deploy</li>
        </ul>

			</div>
			<div class="image">
				<img class="editable" src="http://placehold.it/650x1300" alt="Screenshot" />
			</div>
		</div>
	</section>

	<section class="info">
		<div class="container flex">
			<div class="text">
				<h2 class="editable">We get results</h2>
        <p class="editable">See how we took Partywirks from a product design
          sprint through a successul product launch which increased their
          revenue by 5 trillion percent.
        </p>
			</div>
			<div class="image">
				<img class="editable" src="http://placehold.it/650x1300" alt="Screenshot" />
			</div>
		</div>
	</section>

	<section class="hero" style="background-image: url({% include relative-src.html src=page.bottom_image %})">
		<div class="inner-hero text-container">
			<div class="hero-text-container">
				<h2 class="editable">Let's do this</h2>
				<p class="subtext editable">Get in touch with us now, and let's build
          something together</p>
				<div class="cta button alt"><a href="#">I'm Ready</a></div>
			</div>
		</div>
	</section>
</div>
