.button a, input[type=submit] {
	color: $brand-color;
	text-decoration: none;
	transition: .2s ease-in-out;
	display: inline-block;
	padding: 16px 50px;
	background: #fff;

  &:hover {
    background: $brand-color;
    color: #fff;
    border: 1px solid $brand-color;
    cursor: pointer;
  }
}

.button.alt a {
	color: $brand-color;
	font-family: Helvetica Neue, sans-serif;
	text-shadow: none;
  background: white;
  border: none;
  display: block;
  font-weight: 600;
  font-size: 1em;
  letter-spacing: 2px;
  text-align: center;

  @media #{$tablet} {
    // display: inline-block;
  }

  &:hover {
    background: $brand-color;
    color: #fff;
    cursor: pointer;
  }
}

textarea, input, button, select { font-family: inherit; font-size: inherit; }

input[type=submit] {
	margin: 20px 0 0 0;
}

label, input, textarea {
	display: block;
	width: 100%;
	box-sizing: border-box;
}

textarea {
	resize: vertical;
	height: 150px;
}

label {
	margin: 20px 0 5px 0;
}

input, textarea {
	padding: 10px;
	font-size: 1em;
}

input, textarea {
	-webkit-transition: all 0.30s ease-in-out;
	-moz-transition: all 0.30s ease-in-out;
	-ms-transition: all 0.30s ease-in-out;
	-o-transition: all 0.30s ease-in-out;
	outline: none;
	border: 1px solid #DDDDDD;
}

input[type=text]:focus, input[type=email]:focus, input[type=password]:focus, textarea:focus {
	box-shadow: 0 0 5px $brand-color;
	border: 1px solid $brand-color;
}
