.fixed-image-container {
  overflow: hidden;
  perspective: 3px;
}

.fixed-image {
  background-position: center center;
  background-size: cover;
  height: 100vh;
  transform: translateZ(-1px) scale(1.5);
  z-index: -1;
}

.desktop .fixed-image {
  background-attachment: fixed;
}

.content {
  overflow: hidden;
}

.hero {
  @include background;
  color: white;
  text-align: center;
  height: 100vh;
  min-height: 550px;
  background-position: contain;

  p {
    color: #fff;
  }

  .inner-hero {
    align-items: center;
    background: rgba(0, 0, 0, 0.5);
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    height: 100%;
    padding-bottom: 60px;
    justify-content: center;
    max-width: none;
    transform: translateY(-100vh);
  }

  .hero-text-container {
    width: 320px;
    max-width: 100%;
    text-align: left;
    order: 2;
    padding-bottom: 2em;

    @media #{$tablet} {
      margin-top: 2em;
    }

    h1,
    h2,
    p,
    .button {
      // text-shadow: 1px 1px 1px rgba(0,0,0,.8);
    }

    h1 {
      // text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.8);
      letter-spacing: 2px;
      font-size: 1.75em;
      font-weight: 600;
      margin-bottom: 0.5vh;
      margin-top: 1vh;
      text-align: center;
    }

    .hero-text-container__header {
      line-height: 1.75;
    }

    p {
      font-size: 1em;
      line-height: 1.5;
    }
  }

  .hero-text-right {
    position: absolute;
    right: 0;
  }
}

.hero-iphone-container {
  overflow: hidden;
  padding-top: 1em;
}

.hero-iphone {
  background-image: url('../images/iphone.png');
  height: 0vh;
  margin-top: 7.5vh;
  width: 293px;
  position: relative;
  box-shadow: 0 3px 0 black;
  transition: height 1s cubic-bezier(0.175, 0.885, 0.32, 1.275); /* easeOutBack */

  &.active {
    height: 30vh;
  }

  .hero-iphone-inner {
    left: 18px;
    position: absolute;
    top: 71px;
    width: 260px;
  }
}

.image {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-bottom: 1em;
}

.image-actual {
  width: 325px;
  height: 650px;
  background-size: cover;
  background-position: center;
}

.bottom-cta {
  text-align: center;

  h2 {
    margin-bottom: 12px;
  }
}

@media #{$desktop} {
  .flex {
    @include flexbox;
    align-items: center;
    flex-direction: column;

    .text,
    .image {
      -webkit-flex: 1;
      flex: 1;
      padding: 0 20px;
    }
  }

  .content section:nth-child(even) .flex {
    flex-direction: row-reverse;
  }
}

.clients {
  img {
    margin: auto;
    margin-top: 3em;
    display: block;
    width: 400px;
  }

  .flex {
    flex-flow: wrap;
    flex-direction: column;
  }
}

.client-list {
  margin-top: 8vh;
  padding: 0 3em;
}

.headshots {
  margin-top: 8vh;
  display: flex;
  flex-direction: column;

  @media #{$tablet} {
    flex-direction: row;
  }
}

#hi {
  height: auto;
}
