.hero {
	color: white;
	text-align: center;
	height: 100vh;
	min-height: 550px;
	background-color: #21ce99;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
  background-image: none !important;

	&:before {
		content: "";
		// background: linear-gradient(to bottom,rgba(0,0,0,.65) 0,rgba(0, 0, 0, 0) 100%);
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		height: 300px;
}

	p {
		color: #fff;
	}

	.inner-hero {
		display: flex;
		align-items: center;
		height: 100%;
    flex-direction: column;
    justify-content: space-evenly;
	}

	.hero-text-container {
		width: 600px;
    max-width: 100%;
		text-align: left;
    order: 2;

		h1, h2, p, .button {
			// text-shadow: 1px 1px 1px rgba(0,0,0,.8);
		}

    h1 {
      // text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.8);
      font-size: 2.5em;
      font-weight: 300;
    }

    p {
      font-size: 1em;
    }
	}

	.hero-text-right {
		position: absolute;
		right: 0;
	}
}

.hero-iphone-container {
  overflow: hidden;
  border-bottom: 3px solid white;
}

.hero-iphone {
  background-image: url('/images/iphone.png');
  height: 36vh;
  margin-top: 4em;
  width: 293px;
  position: relative;

  .hero-iphone-inner {
    left: 18px;
    position: absolute;
    top: 71px;
    width: 260px;
  }
}


.image {
	text-align: center;
}

.bottom-cta {
	text-align: center;

	h2 {
		margin-bottom: 12px;
	}
}

@media #{$desktop} {
	.flex {
		@include flexbox;
		align-items: center;
		flex-direction: row;

		.text, .image {
			-webkit-flex: 1;
			flex: 1;
			padding: 0 20px;
		}
	}

	.content section:nth-child(even) .flex {
		flex-direction: row-reverse;
	}
}
