.headshot {
  box-sizing: border-box;
  padding: 0 3px;
  width: 100%;
  display: block;
  position: relative;
  overflow: visible;
  margin-bottom: 3em;
  cursor: pointer;

  @media #{$desktop} {
    width: 33%;
    display: inline;
  }
}

.headshot__text {
  position: absolute;
  top: 100%;
  width: 100%;
  left: 0;
  right: 0;
  text-align: center;
  z-index: 1;
  box-sizing: border-box;
  padding: 5px;
  opacity: 0;
  font-size: 1.5em;
  font-family: "Lato";
  transition: opacity 0.2s;
  color: $brand-color;

  .headshot:hover & {
    opacity: 1;
  }
}

.container, .text-container {
	margin: 0 auto;
	position: relative;
	padding: 0 20px;
}

.text-container {
	max-width: 750px;
}

.container {
	max-width: 1140px;
}

.dark-logo {
	display: none;
}

section {
	background: #fff;
}

.pad {
	padding: 60px 0;
}

header {
	color: #fff;
	padding: 15px 0;
	position: fixed;
	width: 100%;
	z-index: 9999;
	line-height: 0;
  transition: 0.2s background, 0.2s color;

	.container {
		line-height: 0;
    height: 31px;
    overflow: hidden;
    transition: 0.2s height ease;

    .nav-open & {
      height: 287px;
    }
	}

  @media #{$mid-point} {
    .container {
      .nav-open & {
        height: 31px;
      }
    }
  }

	&.header-background {
		background-color: rgba(255,255,255,1);
		color: #333;
		box-shadow: 0px 0px 20px rgba(0,0,0,0.5);
		transition: background-color 0.2s ease;
		text-shadow: none;

		a {
			color: #333;
			@media #{$mid-point} {
				&:hover {
					border-bottom-color: rgba(80, 80, 80,.3);
					border-bottom-width: 5px;
				}
			}
		}

		.dark-logo {
			display: inline;
		}

		.light-logo {
			display: none;
		}
	}

	a {
		color: #fff;
		text-decoration: none;
		z-index: 1;
		position: relative;
		@media #{$mid-point} {
			height: 100%;
		}
		display: block;

		span {
			display: block;
			height: 100%;
		}

		&:hover {
			text-decoration: none;
		}
	}

	.company-name {
		font-size: 1.7em;
		display: inline-block;

		img {
			height: 30px;
			width: auto;
		}
	}
}

.content {
	background: #fff;
}

.info .image {
		max-height: 650px;
}

.info {
	padding: 30px 0 30px 0;
}

.subtext {
	margin-top: 10px;
}


.cta {
	margin: 25px 0 0 0;
}

.page h2 {
	text-align: center;
}

blockquote {
	padding: 18px 25px;
	margin: 0;
	quotes: "\201C""\201D""\2018""\2019";
	font-style: italic;

	cite {
		display: block;
		font-weight: bold;
		margin: 10px 0 0 0;
	}

	p {
		display: inline;
	}
}

blockquote:before {
	color: #ccc;
	content: open-quote;
	font-size: 4em;
	line-height: 0.1em;
	margin-right: 0.25em;
	vertical-align: -0.4em;
}

.square-image {
	width: 200px;
	height: 200px;
	border-radius: 200px;
	background-size:cover;
 	background-repeat:no-repeat;
	margin: 0 auto;
}

.page {
	margin-bottom: 0;
	padding-bottom: 80px;
}

.center-text {
	text-align: center;
}

.learn-more {
  display: none;
	position: absolute;
	left: 0;
	bottom: 30px;
	text-align: center;
	font-size: 1em;
	width: 100%;

	a {
		text-decoration: none;
		color: #fff;
		opacity: .9;

		&:hover {
			opacity: 1;
		}
	}
	.arrow {
		font-size: .6em;
	}
}

.editor-link {
 	display: none;
	margin-top: 0;
	padding-top: 30px;
	.btn {
		border: 0;
		border-radius: 2px;
		width: 100%;
		max-width: 500px;
		box-sizing: border-box;
		font-size: 2rem;
		text-decoration: none;
		padding: 10px 15px;
		margin: 0;
		font-size: 18px;
		cursor: pointer;
		background-color: #f7e064;
		color: #333;
		box-shadow: 1px 1px 5px 0 rgba(0, 0, 0, 0.2);

		&:hover {
			background-color: #f4d525;
			color: #333;
		}
	}

}

.cms-editor-active .editor-link {
	display: block;
}

.only-one {
  height: 45px;
  position: relative;

  > span {
    position: absolute;
    left: 0;
    right: 0;
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
    transition: 0.5s all;

    &.active {
      opacity: 1;
      -webkit-transform: translate3d(0, 0%, 0);
      transform: translate3d(0, 0%, 0);
    }
  }
}

.clients {
  text-align: center;

  img {
    margin: auto;
    margin-top: 1em;
    display: block;
  }

  .flex {
    flex-flow: wrap;
    flex-direction: column;
  }
}
