.nav-open nav {
	@media #{$mid-point} {
		border: 0;
		padding: 0 20px;

		a {
			display: inline;
		}
	}
}

nav {
	// text-transform: uppercase;
	font-size: 1em;
	padding: 16px 0;
	position: relative;
	top: -7px;
	text-shadow: none;

	@media #{$mid-point} {
		padding: 0 20px;
		display: inline;
    position: absolute;
    top: 9px;
    right: 0;
    line-height: 1;
	}


	a {
		margin: 0 10px;
		border: 0;
		display: block;
		padding: 30px 0;

    &:nth-of-type(5) {
      font-size: 2em;
    }

		@media #{$mid-point} {
			display: inline;
			border-bottom: 1px solid rgba(255,255,255,0);
			color: rgba(255,255,255,.8);

      &:nth-of-type(5) {
        font-size: 1em;
      }
		}

		&.nav-toggle {
			display: inline;
			position: absolute;
			right: 10px;
			top: -7px;
			font-size: 1.9em;
			border: 0;
			text-shadow: 0;
			padding: 0 !important;
			@media #{$mid-point} {
				display: none;
			}

			&:hover {
				border: 0;
			}
		}
	}

	a.active {
		border-bottom: 5px solid #ffa74d;
	}
}

